<h1>Hello</h1>

<%= link_to "Add Workout", workouts_path, class:"btn btn-success" %>
<%= calendar do |date| %>
  <%= date.day %>
  <% if @workouts_by_date[date] %>
    <ul>
      <%@workouts_by_date[date].each do |workout| %>
        <li><%= link_to workout.name, workout %>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% @workouts.each do |workout| %>
<%= workout.name %>
<%= workout.schedule.day %>
<% end %>
