

<% if logged_in? %>
  <div class="container-fluid dashboard-view">
    <div class="row">
      <div class="col-sm-3 profile-panel">
        <% @user ||= current_user %>
        <% user_image = attachment_url(@user, :profile_image, :fill, 50, 50, format: "jpg").to_s.size > 0 %>
        <%if user_image %>
          <%= (image_tag attachment_url(@user, :profile_image, :fill, 300, 300, format: "jpg"), :class => "round-img")  %>
        <%else %>
          <img src="http://flathash.com/<%="#{@user.first_name}"%>" alt='straight-hash' class="round-img"/>
        <%end%>
        <h3 class="user index"><%= @user.first_name %></h3>
        <h4><%=@user.created_at %></h4>
        <div class="view-profile">
          <%= link_to user_path(id: @current_user.id), class:"btn pretty-font" do%>
          <i class="fa fa-user">view profile</i>
          <% end %>
        </div>
        <div>
       <%= link_to new_workout_path, class:"btn pretty-font" do%>
       <i class="fa fa-plus-square "> Add Workout</i>
         <% end %>
         </div>
        <div class="follower-box">
          <div id="following" class="stat">

            <h6>Following</h6>
            <%= @user.follow_count %>
          </div>
          <div id="followers" class="stat">
            <h6>Followers</h6>
            <%= @user.followers_count %>
          </div>
        </div>


      </div>

      <div class="col-sm-6">
        <div class="clndr">
         <%= react_component "Calendar", props={showDaysOfWeek: true , onPickDate: Time.now}%>
       </div>
      </div>

      </div>

    </div>

  </div>


  <!-- <h2>Workouts</h2>
  <ul class="workouts">
    <% @workouts.each do |workout| %>
      <li><%=link_to workout.name, enter_workout_path(workout_id: workout.id)%></li>
    <% end %>
  </ul> -->
  <!-- <iframe src="//giphy.com/embed/PPcoaMBKaY8vu" width="600" height="650" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/transparent-PPcoaMBKaY8vu">via GIPHY</a></p> -->

<% else %>

<div class="jumbotron landing-hero">

  <div class="container-fluid">
      <h1>UFit</h1>

      <%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary" %>

      <%= link_to "Sign In", sign_in_path, class: "btn btn-lg btn-default" %>
    </div>
</div>

<% end %>
