<div class="jumbotron landing-hero signup-form">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 translucent-bg">
          <%= simple_form_for @user do |u| %>
            <%= u.input :first_name %>
            <%= u.input :last_name  %>
            <%= u.input :email %>
            <%= u.attachment_field :profile_image %>
            <%= u.input :password %>
            <%= u.input :password_confirmation, label: "Password Confirmation" %>
            <%= u.submit "Update", class: "btn btn-primary btn-block btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
