<div class = "container">
  <div class = "user-show">

  <% if current_user.following? @user%>
     <%= link_to "Stop Following #{@user.first_name}", stop_following_user_path(id: @user.id), method: :post %>
    <div>

      <%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg"), :class => "round-img" %>
    <% @workouts.each do |workout| %>
       <% if workout.began && !workout.completed %>
       <%= link_to enter_workout_path(workout_id:workout.id) do %>
          This user has a Workout In Progress Click here to view it.
          <% end %>
         <%=react_component 'Workout',{workout: workout} %>

       <% else %>
         this user has no work outs in progress
         <br>
         Workouts scheduled
         <div class="workouts-list">
           <%= link_to "View #{workout.name}", workout_path(id: workout.id) %>
         </div>
        <% end %>
      <% end %>

      <% elsif current_user == @user%>
            <div class="container-fluid dashboard-view">
              <div class="row">
                <div class="col-sm-3 profile-panel">
                  <% @user ||= current_user %>
                  <%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg"), :class => "round-img" %>
                  <h3><%= @user.first_name %></h3>
                  <h4><%=@user.created_at %></h4>
                  <div class="edit-profile">
                    <%= link_to edit_profile_path, class:"btn" do%>
                      <i class="fa fa-pencil"> edit profile</i>
                    <% end %>
                  </div>
                </div>
            Workouts scheduled
            <% @workouts.each do |workout| %>
            <div class="workouts-list">
              <%= link_to "View #{workout.name}", workout_path(id: workout.id) %>
            </div>
            <% end %>
          </div>
        </div>
      <% else %>

        <%= link_to "Follow #{@user.first_name}", follow_user_path(id: @user.id), method: :post %>
      <% end %>
    </div>
  </div>
</div>
