<header class = "navbar navbar-fixed-top nav-color">
  <div class = "container">

      <div id="cssmenu">
      <div class ="navbar-brand Ufit">
          <%= link_to "Ufit", root_path %>
        </div>
          <ul class="navbar-right">
            <li data="home"><%= link_to "Home", root_path %></li>
            <% if logged_in? %>
              <li data="user-index"><%=link_to "All Users", discover_path %></li>
              <li class="last" data="signout"><%= link_to 'Log Out', sign_out_path, method: :delete %><li>
            </ul>
            <% else %>
                <li data="signin"><%= link_to "Log In", sign_in_path  %>
                <li class="last" data="signup"><%= link_to "Sign Up", sign_up_path %>
             </ul>
             <% end %>
           </div>
            </div>
   </header>
