<header class = "navbar navbar-fixed-top">
  <div class = "container">
    <div class = "navbar-brand">
      <%= link_to "Ufit", root_path %></div>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Log In", sign_in_path %>
          <li><%= link_to "Sign Up", sign_up_path %>
        <li><%= link_to 'Log Out', sign_out_path, method: :delete %><li>
      </ul>


         </nav>

       </ul>
   </header>
 </div>
